#border{
    background-color: rgb(192, 189, 189) ;
    padding: 20px;
    margin:auto;
    border: 5px solid white;
    width:60%;
}

h1{
    text-align: center;
}

label{
    color: darkblue;
}

div{
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

#topics{
    color: darkblue;
    
}