
table{
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

td{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid lightgray;
}
caption{
    font-size: xx-large;
    font-weight: bold;
}


.buybutton{
    background: linear-gradient(#51a9ee,#147bcd);
    color:white;
    font-size: 20px;
}

.c1{
    width: 15%;
    font-weight: bold;
}

.title{
    font-weight: bold;
}

.c2{
    width: 30%;
}



.c3{
    width: 10%;
}

img{
    width: 80%;
    height: 80%;
}

#rednumber{
    color: red;
}

